.container {
  font-family: 'Roboto';
  margin: auto;
  padding: 0 15px;
  width: 90vw;
}

.section {
  background-color: transparent;
}

.section h2 {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 10px;
}

.card-list {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-width: 150px;
  padding: 5px;
  text-align: center;
}